.dark-color, .navbar-brand{
    color: #384050;
}

.dark-row{
    background-color: #384050;
    color: #f1f8fc;
}

a {
    text-decoration: none;
    color: #f1f8fc;
}

.navbar{
    border: 2px solid #384050;
    border-radius: 15px;
}

.info-text{
    font-size: 2em;
}

footer{
    margin-top: 250px;   
}

.bi-pencil-square{
    color: #384050;
}

